/* common */
.nw_showcase{padding:10px;overflow:hidden;}
.nw_showcase > .np{width:100%;height:100%;overflow:hidden;position:relative;}
.nw_showcase > .np > ul{position:static;top:0px;left:0px;width:100%;height:100%;margin:0px;padding:0px;z-index:1;}
.nw_showcase > .np > ul > li{position:static;width:100%;height:100%;list-style:none;text-align:center;background-size:contain;background-repeat:no-repeat;background-position:center;margin:0px;}
.nw_showcase > .np > ul > li > img{}
.nw_showcase_blind{position:static;z-index:3;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.9);display:none;}
.nw_showcase_clone{cursor:pointer;position:static;list-style:none;padding:0px 0px 0px 0px;background:rgba(0,0,0,0.7);background-size:contain;background-repeat:no-repeat;background-position:center;margin:0px;}
.nw_showcase_pointer{cursor:pointer;position:static;z-index:0;background-size:contain;background-position:center;background-repeat:no-repeat;}

.nw_showcase_default{background-color:transparent}
.nw_showcase_black{background-color:#000000}
.nw_showcase_beige{background-color:#c9bc8f}