/* nac_layerlist_scorm.css */

.nac_layerlist_scorm {
    padding:5px;
    position:relative;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-writing-mode:horizontal-tb !important;
    writing-mode:horizontal-tb !important;
    -webkit-column-break-inside:avoid;
    page-break-inside:avoid;
    break-inside: avoid;

    display:flex;
    flex-flow:column nowrap;
    align-items:stretch;
    justify-content:center;
}

.nac_layerlist_scorm * {
    box-sizing:border-box;
}

/* content part */
.nac_layerlist_scorm > .nac_content_part {
    flex-grow:1;
    padding:0px;
    position:relative;

    display:flex;
    flex-flow:row nowrap;
    align-items:stretch;
    justify-content:center;
}

.nac_layerlist_scorm > .nac_content_part > .nac_popup_window {
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    height:100%;
    z-index:9999;
    transition:top ease 300ms;
}

.nac_layerlist_scorm.nac_popup_closed > .nac_content_part > .nac_popup_window {
    top:-110%;
}

.nac_layerlist_scorm > .nac_content_part > .nac_popup_window > .nac_close_popup {
    width:30px;
    height:30px;
}

.nac_layerlist_scorm > .nac_content_part > .nac_popup_window > .nac_close_popup:active {
    transform:translateY(1px);
}

.nac_layerlist_scorm > .nac_content_part > .nac_item {
    flex-grow:1;
    position:relative;
    overflow:hidden;
}

.nac_layerlist_scorm > .nac_content_part > .nac_item > div {
    max-width:100%;
    max-height:100%;
}

/* navigate part */
.nac_layerlist_scorm > .nac_navigate_part {
    position:relative;
    overflow:hidden;

    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;
}

.nac_layerlist_scorm .nac_lls_button {
    margin:0px 7px;
    width:20px;
    height:20px;
    max-width:100%;
    max-height:100%;
    position:relative;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_prev,
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_next {
    margin:0px 10px;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button > span {
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    transition:opacity ease-out 100ms;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button:active:not(.nac_disabled) > span {
    top:1px !important;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button > span.nac_hover,
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_enabled > span.nac_hover,
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_disabled > span.nac_hover {
    opacity:0;
}
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button:hover > span.nac_hover,
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_enabled:hover > span.nac_hover {
    opacity:1;
}
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_disabled:hover > span.nac_hover {
    opacity:0;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button > span,
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_enabled > span {
    opacity:1;
}
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button:hover > span,
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_enabled:hover > span {
    opacity:0;
}
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_disabled > span,
.nac_layerlist_scorm > .nac_navigate_part > .nac_lls_button.nac_disabled:hover > span {
    opacity:0.5;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_time {
    padding:0px 5px;
    position:relative;
    top:-1px;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_time > .nac_time1,
.nac_layerlist_scorm > .nac_navigate_part > .nac_time > .nac_time2 {
    margin:0px;
    padding:0px;
    min-height:5px;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_current_time {
    flex-grow:1;
    margin:0px 5px;
    height:6px;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_current_volume {
    margin:0px 5px 0px 0px;
    width:50px;
    height:6px;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_progress {
    position:relative;
    cursor:pointer;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_progress > span {
    top:0px;
    left:0px;
    height:100%;
    display:block;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_progress > .nac_buffer_bar {
    width:100%;
    z-index:2;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_progress > .nac_current_bar {
    width:50%;
    z-index:3;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_progress > .nac_current_bar > .nac_thumb {
    left:calc(100% - 8px);
    top:-20%;
    width:auto !important;
    height:140% !important;
    z-index:4;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_progress_effect {
    background-color:rgba(0, 0, 0, 0.4);
    box-shadow:0 2px 0 rgba(255, 255, 255, 0.2), inset 0 2px 2px black;
    border-radius:10px;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_progress_effect > span {
    border-radius:10px;
}

.nac_layerlist_scorm > .nac_navigate_part > .nac_page {
    position:relative;
    top:-1px;
}

@keyframes next {
	0% { transform:scale(1, 1); }
    50% { transform:scale(1.5, 1.5); }
}
.nac_layerlist_scorm.nac_animation_next > .nac_navigate_part > .nac_lls_button.nac_next {
    animation-name:next;
    animation-duration:1s;
    animation-iteration-count:infinite;
}




