/* common */
.nw_arcodian{padding:10px;}
.nw_arcodian > .nw_list{padding:0px;margin:0px;border-radius:10px;border:5px solid #cccccc;}
.nw_arcodian > .nw_list > li:first-child{border-radius:5px 5px 0px 0px;}
.nw_arcodian > .nw_list > li{list-style:none;padding:0px;border-bottom:2px solid #eeeeee;overflow:hidden;}
.nw_arcodian > .nw_list > li:last-child{border-radius:0px 0px 5px 5px;border-bottom:0px}
.nw_arcodian > .nw_list > li > .nw_arcodianLayer{cursor:pointer;overflow:hidden;}
.nw_arcodian > .nw_list > li > .nw_arcodianLayer > .nw_arcodianTitle{font-weight:bold;overflow:hidden;white-space:pre-wrap;}
.nw_arcodian > .nw_list > li > .nw_arcodianLayer > .nw_arcodianImg{}
.nw_arcodian > .nw_list > li > .nw_arcodianLayer > .nw_arcodianDesc{word-break:break-all;overflow:hidden;white-space:pre-wrap;}

.nw_arcodian > .nw_list > .bwhite{background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */}

.nw_arcodian_black > .nw_list{border:5px solid #c9bc8f}
.nw_arcodian_black > .nw_list > .bwhite{background:#000000}
.nw_arcodian_black > .nw_list > li{border-bottom:2px solid #c9bc8f}
.nw_arcodian_black > .nw_list > li:last-child{border:0px}
.nw_arcodian_black > .nw_list > li > .nw_arcodianLayer > .nw_arcodianTitle{color:#c9bc8f}
.nw_arcodian_black > .nw_list > li > .nw_arcodianLayer > .nw_arcodianDesc{color:#ffffff}

.nw_arcodian_mint > .nw_list{border:5px solid #fff0bb}
.nw_arcodian_mint > .nw_list > .bwhite{background:#64c896}
.nw_arcodian_mint > .nw_list > li{border-bottom:2px solid #fff0bb}
.nw_arcodian_mint > .nw_list > li:last-child{border:0px}
.nw_arcodian_mint > .nw_list > li > .nw_arcodianLayer > .nw_arcodianTitle{color:#ffffff}
.nw_arcodian_mint > .nw_list > li > .nw_arcodianLayer > .nw_arcodianDesc{color:#f2f2f2}