/* common */
.nw_thumblist2 {overflow:hidden;padding:10px;}
.nw_thumblist2 > .np{width:100%;height:100%;overflow:hidden;position:relative;}
.nw_thumblist2 > .np > ul{letter-spacing:0px;word-spacing:0px;font-size:0px;padding:0px;margin:0px;width:100%;height:100%;position:static;top:0px;left:0px;vertical-align:top;line-height:0px;}
.nw_thumblist2 > .np > ul > li{position:static;top:0px;list-style:none;width:100%;height:100px;overflow:hidden;background-size:contain;background-repeat:no-repeat;background-position:center;margin:0px;}
.nw_thumblist2_blind{position:static;z-index:2;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.9);display:none;}
.nw_thumblist2_clone{background-size:contain;background-repeat:no-repeat;background-position:center;margin:0px;list-style:none;}
.nw_thumblist2_pointer{cursor:pointer;position:static;z-index:0;background-size:contain;background-position:center;background-repeat:no-repeat;}
.hidden_thumblist2_closebtn{display:none;}

.nw_thumblist2_btn_close{width:40px;height:40px;position:static;top:5px;right:5px;cursor:pointer;z-index:99}
.nw_thumblist2_sw{position:static;top:0px;left:0px;overflow:hidden;}
.nw_thumblist2_sw > .np{width:100%;height:100%;overflow:hidden;position:relative;}
.nw_thumblist2_sw > .np > ul{letter-spacing:0px;word-spacing:0px;font-size:0px;margin:0px;padding:0px;overflow:hidden;position:static;top:0px;left:0px;height:100%;}
.nw_thumblist2_sw > .np > ul > li{position:static;list-style:none;width:100%;height:100px;overflow:hidden;background-size:contain;background-repeat:no-repeat;background-position:center;margin:0px;}

.nw_thumblist2_default{background-color:transparent}
.nw_thumblist2_black{background-color:#000000}
.nw_thumblist2_beige{background-color:#c9bc8f}