/* -------------------------------------------------------- */
/* NamoAuthor::EPUB CSS Style for Text Background Colors    */
/* -------------------------------------------------------- */
.bgcol1 {background-color: #e5cdcd;}
.bgcol2 {background-color: #efc3c9;}
.bgcol3 {background-color: #f5d3bd;}
.bgcol4 {background-color: #f9e2d2;}
.bgcol5 {background-color: #cce7ff;}
.bgcol6 {background-color: #d2d6e0;}
.bgcol7 {background-color: #d3cde4;}
.bgcol8 {background-color: #e0e0b8;}
.bgcol9 {background-color: #b3fffe;}
.bgcol10 {background-color: #ccfff3;}
.bgcol11 {background-color: #000000;}
.bgcol12 {background-color: #FFFFFF;}
.bgcol13 {background-color: #f2f2f2;}
.bgcol14 {background-color: #ee9891;}