/* --------------------------------------- */
/* NamoAuthor::EPUB CSS Style for Boxes    */
/* --------------------------------------- */

.box_dotted {
    margin: 16px 0px;
    padding: 0.8em;
    border: 1px dotted #ff4d94;
    border-radius: 0px;
}
.box_dashed {
    margin: 16px 0px;
    padding: 0.8em;
    border: 2px dashed #85a3e0;
    border-radius: 0px;
}
.box_solid {
    margin: 16px 0px;
    padding: 0.8em;
    border: 1px solid #996633;
    border-radius: 0px;
}
.box_double {
    margin: 16px 0px;
    padding: 0.8em;
    border: 6px double #00539C;
    border-radius: 20px;
}
.box_groove {
    margin: 16px 0px;
    padding: 0.8em;
    border: 10px groove #006E6D;
    border-radius: 0px;
}
.box_ridge {
    margin: 16px 0px;
    padding: 0.8em;
    border: 10px ridge #994d4d;
    border-radius: 20px;
}
.box_inset {
    margin: 16px 0px;
    padding: 0.8em;
    border: 10px inset #574785;
    border-radius: 0px;
}
.box_outset {
    margin: 16px 0px;
    padding: 0.8em;
    border: 10px outset #00539C;
    border-radius: 0px;
}
.box_mixed {
    margin: 16px 0px;
    padding: 0.8em;
    border-width: 6px;
    border-style: dotted dashed solid double;
    border-color: #009B77;	
}

.box1 {
    margin: 16px 0px;
    padding: 0.8em;
    border: 3px solid #994d4d;
}
.box2 {
    margin: 16px 0px;
    padding: 0.8em;
    border-radius: 20px;
    border: 3px solid #c9641d;
}
.box3 {
    margin: 16px 10px 16px 0px;
    padding: 0.8em;
    border: 2px solid #f5d3bd;
    box-shadow: 10px 10px 10px #f5d3bd;	
}
.box4 {
    margin: 16px 10px 16px 0px;
    padding: 0.8em;
    border-radius: 20px;
    border: 2px solid #cce7ff;
    box-shadow: 10px 10px #cce7ff;
}
.box5 {
    margin: 16px 0px;
    padding: 0.8em;
    background-color: #f4d7db;
}
.box6 {
    margin: 16px 0px;
    padding: 0.8em;
    border-radius: 20px;	
    background-color: #009B77;
    color: #ffffff;
}
.box7 {
    margin: 16px 10px 16px 0px;
    padding: 0.8em;
    background-color: #f9d9b9;
    box-shadow: 10px 10px #004d80;
}
.box8 {
    margin: 16px 10px 16px 0px;
    padding: 0.8em;
    border-radius: 20px;	
    background-color: #e6ffcc;
    box-shadow: 10px 10px #004d80;
}
.box9 {
    margin: 16px 0px;
    padding: 0.8em;
    border-radius: 0px 40px;
    border: 3px solid #df7020;
}
.box10 {
    margin: 16px 0px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-color: #fba8a8;
    background-color: #f9d9b9;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.box11 {
    margin: 16px 0px;
    padding: 5px 10px;
    border-left-color: #ff9631;
    border-right-color: #ff9631;
    border-left-width: 5px;
    border-right-width: 5px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.box12 {
    margin: 16px 0px;
    padding: 10px;
    border-top-color: #fba8a8;
    border-bottom-color: #fba8a8;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.box13 {
    padding: 5px;
    margin: 0 2px 0 2px;
    font-size: 0.8em;
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    color: #0000ff;
}
span.box14 {
    padding: 28px 10px 28px 10px;
    margin: 40px 5px;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 0px;
    border-radius: 50%;
    background-color: #FBF182;
    color: #000000;
}
span.box15 {
    padding: 0px 5px;
    margin: 0 5px 0 0;
    font-size: 1em;
    text-align: center;
    border: 1px solid #ff9631;
    border-radius: 0px;
    background-color: #FBF182;
    color: #000000;
}
span.box16 {
    padding: 2px 7px;
    margin: 0 5px 0 0;
    font-size: 1em;
    text-align: center;
    border-style: solid;
    border-width: 0px;
    border-radius: 50%;
    background-color: #ff9631;
    color: #ffffff;
}
span.box17 {
    padding: 1px 5px;
    margin: 0 6px 0 0;
    font-size: 1em;
    text-align: center;
    border-style: double;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px;
    background-color:#ffffff;
    color: #0000ff;
}

span.box18 {
    padding: 1px 5px;
    margin: 0 6px 0 0;
    font-size: 1em;
    text-align: center;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-radius: 0px;
    background-color:#ffffff;
    border-color: #DD4132;
    color: #DD4132;
}