/* ------------------------------------------------------ */
/* NamoAuthor::EPUB CSS Style for Margin/Padding/Indent   */
/* ------------------------------------------------------ */

.indent_16px {
    text-indent: 16px;
}

.indent_1em {
    text-indent: 1em;
}

.indent_12em {
    text-indent: 12em;
}

.indent_24em {
    text-indent: 24em;
}

.m_top_1em {
    margin-top: 1em;
}

.m_top_2em {
    margin-top: 2em;
}

.m_top_4em {
    margin-top: 4em;
}

.m_top_6em {
    margin-top: 6em;
}

.m_top_10em {
    margin-top: 10em;
}

.m_top_16em {
    margin-top: 16em;
}

.m_bottom_1em {
    margin-bottom: 1em;
}

.m_bottom_2em {
    margin-bottom: 2em;
}

.m_bottom_4em {
    margin-bottom: 4em;
}

.m_bottom_6em {
    margin-bottom: 6em;
}

.m_bottom_10em {
    margin-bottom: 10em;
}

.m_bottom_16em {
    margin-bottom: 16em;
}

.m_1em {
    margin: 1em;
}

.m_auto {
    margin: auto;
}

.p_top_1em {
    padding-top: 1em;
}

.p_top_2em {
    padding-top: 2em;
}

.p_top_4em {
    padding-top: 4em;
}

.p_top_6em {
    padding-top: 6em;
}

.p_top_10em {
    padding-top: 10em;
}

.p_top_16em {
    padding-top: 16em;
}

.p_bottom_1em {
    padding-bottom: 1em;
}

.p_bottom_2em {
    padding-bottom: 2em;
}

.p_bottom_4em {
    padding-bottom: 4em;
}

.p_bottom_6em {
    padding-bottom: 6em;
}

.p_bottom_10em {
    padding-bottom: 10em;
}

.p_bottom_16em {
    padding-bottom: 16em;
}

.p_1em {
    padding: 1em;
}

