/* ---------------------------------------------- */
/* NamoAuthor::EPUB CSS Style for Title & Texts   */
/* ---------------------------------------------- */

.title1 {
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.title2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.title3 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 3.4em;
    margin-bottom: 1.7em;
}

.title4 {
    font-size: 1.12em;
    line-height: 1.5em;
    margin-top: 3.6em;
    margin-bottom: 1.8em;
}

.title5 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 4em;
    margin-bottom: 2em;
}

.title6 {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 3em;
    margin-bottom: 1em;
}

span.text_firstletter1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #df7020;
}

span.text_firstletter2 {
    line-height: 1.3em;
    float: left; 
    margin: 0px 8px 0 5px;
    font-size: 3em;
    color: #df7020;
}

.quot1 { 
    margin: 2em 0 2em 3em;
    line-height: 150%;
    color: #696969;
    font-size: 0.93em;
    text-indent: 0;
} 

.quot2 { 
    margin: 2em 2em;
    padding-top: 30px;
    line-height: 150%;
    color: #696969;
    font-size: 1.2em;
    font-style: italic;
} 
.quot2::before {
    float: left;
    font-size: 80px;
    content: '\201c';
    color: #7d7373;
    text-indent: 0;
    text-shadow: 0 1px 1px #909090;
}
.quot2::after {
    content: none;
}
.quot3 { 
    margin: 0em 2em;
    line-height: 150%;
    color: #696969;
    font-size: 0.93em;
} 
.quot3::before {
    display: block;
    margin-top: 50px;			
    font-size: 80px;
    content: '\201c';
    color: #bababa;
    text-shadow: 0 1px 1px #909090;
    text-align: center;
    text-indent: 0;
}
.quot3::after {
    display: block;
    margin-top: 40px;			
    font-size: 80px;
    content: '\201d';
    color: #bababa;
    text-shadow: 0 1px 1px #909090;
    text-align: center;
    text-indent: 0;
}

.quot4 { 
    margin: 2em 4em;
    line-height: 150%;
    color: #696969;
    font-size: 0.93em;
    text-indent: 0;
} 
.quot4::before {
    float: left;
    margin: 30px 10px 0 0;
    font-size: 80px;
    content: '\201c';
    color: #bababa;
    text-shadow: 0 1px 1px #909090;
}
.quot4::after {
    float: right;
    margin: 30px 0 0 15px;			
    font-size: 80px;
    content: '\201d';
    color: #bababa;
    text-shadow: 0 1px 1px #909090;
}

.quot5 { 
    margin: 2em 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; 
    line-height: 150%;
    color: #696969;
    border-left: 5px solid #006E6D;
    font-size: 0.93em;
    text-indent: 0;
} 
.quot5::before {
    float: left;
    margin: 40px 15px 0 0;
    font-size: 80px;
    content: '\201c';
    color: #bababa;
    text-shadow: 0 1px 1px #909090;
}
.quot5::after {
    float: right;
    margin: 30px 0 0 15px;			
    font-size: 80px;
    content: '\201d';
    color: #bababa;
    text-shadow: 0 1px 1px #909090;
}

.quot6 { 
    margin: 32px 0px;
    padding: 1em;
    line-height: 150%;
    color: #454545;
    border-left: 5px solid #a02c3d;
    border-right: 5px solid #a02c3d;
    background-color: #f4d7db;
    font-size: 0.93em;
    text-indent:0;
}

.quot7 { 
    margin: 2em 2em;
    padding-left: 1em; 
    line-height: 150%;
    color: #696969;
    border-left: 5px solid #C0C0C0;
    font-size: 0.93em;
    text-indent: 0;
} 

.description {
    margin: 32px 0px;
    padding: 1em;
    line-height: 150%;
    letter-spacing: 2px;
    color: #696969;	
    background-color: #f2f2f2;
    font-size: 0.9em;
}

.warning {
    margin: 32px 0px;
    padding: 1em;
    line-height: 180%;	
    color: #DD4132;		
    border: 6px double #DD4132;
    font-size: 1em;
}

/* Superscript */
.sup1 {
    font-weight: normal;
    color: #00539C;
    font-size: 0.78em;
    vertical-align: super;
}
.sup2 {
    font-weight: normal;
    color: #00539C;
    font-size: 0.78em;
    vertical-align: 0.22em;
}
.sup3 {
    font-weight: normal;
    color: #00539C;
    font-size: 0.78em;
    vertical-align: baseline;
}

/* Footnote */
.footnote1 {
    margin-left: 0;
    line-height: 150%;
    color: #696969;
    font-size: 0.78em;
    padding-left: 1.5em;
    text-indent: -1.5em;
}
.footnote2 {
    margin-left: 1.5em;
    line-height: 150%;
    color: #696969;
    font-size: 0.78em;
    text-indent: 0;
}