/* --------------------------------------------- */
/* NamoAuthor::EPUB CSS Style for Text Colors    */
/* --------------------------------------------- */

.col1 {color: #994d4d;} 
.col2 {color: #a02c3d;} 
.col3 {color: #c9641d;} 
.col4 {color: #df7020;} 
.col5 {color: #00539C;} 
.col6 {color: #485167;} 
.col7 {color: #574785;} 
.col8 {color: #7f7d34;} 
.col9 {color: #006E6D;} 
.col10 {color: #009B77;}
.col11 {color: #000000;}
.col12 {color: #FFFFFF;}
.col13 {color: #696969;}
.col14 {color: #DD4132;}
