/* -------------------------------------- */
/* NamoAuthor::EPUB CSS Style for Lines   */
/* -------------------------------------- */

.line1 {
    border-bottom: 1px solid #000000;
    margin: 3px 0px;
    padding: 0px 0px 0px 0px;
}

.line2 {
    border-top: 3px solid #f39f9a;
    background-color: #fae0dc;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
}

.line3 {
    border-bottom: 2px solid #df7020;
}

.line4 {
    padding: 3px 3px;
    border-top: 2px solid #009B77;
    border-bottom: 2px solid #009B77;
}

.line5 {
    padding-left: 0.5em;
    border-left: 2px solid #00539C;
}

.line6 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 2px solid #DD4132;
    border-right: 2px solid #DD4132;
}

hr.hr1 {
    margin: 2em auto;
    height: 1px;
    border: 1px;
    width: 50%;
    background-color: #696969;
}

hr.hr2 {
    margin: 2em auto;
    height: 1px;
    border: 1px;
    width: 100%;
    background-color: #df7020;
}

hr.hr3 {
    margin: 1em auto;
    height: 80px;
    border: 1px;
    width: 2px;
    background-color: #696969;
}

hr.hr4 {
    margin: 1em auto;
    height: 80px;
    border: 1px;
    width: 2px;
    background-color: #696969;
    transform: rotate(45deg);
}

hr.hr5::before {
    content: "\2727\2003\2003\2727\2003\2003\2727";
}

hr.hr5 {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border: transparent solid 0;
    font-size: 1.5em;
    text-align: center;
}

hr.hr6 {
    margin: 1em auto;
    border: 1px dashed #008080;
    width: 100%;
}  

hr.hr7 {
    margin: 1.5em auto;
    border: 5px solid #ccebff;
    box-shadow: 3px 6px #004d80;
    width: 80%;
}  

hr.hr8 {
    margin: 1em 0px;
    height: 1px;
    border: 1px;
    width: 150px;
    background-color: #696969;
    text-align: left;
}