/* common */
.nw_slider2{overflow:hidden;padding:10px;}
.nw_slider2 > .np{position:relative;width:100%;height:100%;margin:0px;padding:0px;overflow:hidden;}
.nw_slider2 > .np > .nw_list{position:relative;width:100%;height:100%;margin:0px;padding:0px;overflow:hidden;}
.nw_slider2 > .np > .nw_list > li{width:100%;height:100%;list-style:none;position:static;top:0px;z-index:1;text-align:center;overflow:hidden;background-size:contain;background-repeat:no-repeat;background-position:center;margin:0px;}
.nw_slider2 > .np > .nw_list > li > img{opacity:0}
.nw_slider2 > .np > .bg {position:static;top:0px;left:0px;width:100%;height:100%;}
.nw_slider2 > .np > .bg > div{position:static;}
.nw_slider2 > .np > .bg > div:nth-child(1){left:0px;}
.nw_slider2 > .np > .bg > div:nth-child(2){left:0px;}
.nw_slider2 > .np > .bg > div:nth-child(3){left:0px;}
.nw_slider2_clone{position:static;list-style:none;padding:0px 0px 0px 0px;background:rgba(0,0,0,0.7);background-size:contain;background-repeat:no-repeat;background-position:center;margin:0px;}

.nw_slider2_default{background-color:transparent}
.nw_slider2_black{background-color:#000000}
.nw_slider2_beige{background-color:#c9bc8f}